/* FEUILLE DE STYLES CSS */ 


/* TELECHARGEMENT DES POLICES */ 

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/* CSS Général */ 

html, body{
	width : 1280px; 
	margin: auto;
}

article{
display: inline-block;
}

p, h2{
	margin: 0px;
}

li{
	list-style: none; 
}

/* CSS pour la partie Header */ 

header{
	background-color :#a6e3b8;
	height : 153px;
	padding-top: 12px;

}

.choix-langue{
	float: right;
	display:inline-block;
}

.icone-langue{
	width: 28px; 
	height: 28px;	
	float: left;
	margin-right: 10px;
	
}

.langue{
	line-height:30px;
	display: inline-block;
	margin-right: 27px;
	font-family: 'Nunito', sans-serif ;
	font-style: normal;
	font-weight: 700; 
	font-size: 15px;
}

.fr, .en {
	text-decoration: none; 
	color: black;
}

.fr:hover , .en:hover{ 
	text-decoration: underline; 
	text-shadow: 0px 1px 1px black; 
}

.logo{
	height: 107px;
	width: 118px ;
	padding: 18px;
	display: inline-block;
}

.bloc-logo{
	background-color: white; 
	height: 141px; 
	width: 155px; 
	margin: auto;
}

.search{
	float: right;
	display:inline-block;
	border-radius:9px;
	border:1px solid;
	border-color: #b3b5b3;
	position: relative; 
	bottom: 43px;
	margin-right:20px;
	padding:0px;
	height: 30px; 
	width: 207px;
	background-color:white;
} 

header input{
	height: 29px; 
	width: 169px;
	position:relative; 
	background: transparent;
    border: none !important;
	bottom: 6px;
}

.icone-loupe{
	height: 20px;
	width: 20px;
	margin-top: 4px;
}

.btn-search{
	height: 30px;
	width: 34px;
	background: transparent;
    border: none !important;
	
}


/* CSS pour la partie Menu */ 

nav{
	background-color: white; 
	margin-left: -30px; 
	font-size: 20px;
	font-family: 'Nunito', sans-serif;
	font-style: normal;
	font-weight: 700; 
	font-size: 20px;
}


.list-nav , .list-nav2 , .list-nav3{
	list-style : none; 
	display: inline; 
	margin-left : 48px;
	
}

.a-nav:hover{
	color:#a6e3b8;
}

.a-nav{
	text-decoration:none;
	color: black;
}

.chevron{
	margin-left:8px;
	font-weight: 900; 
	font-size: 25px;
}

/* CSS pour sous-menu déroulant */ 

.rubriques-lab , .rubriques-comp , .rubriques-prog {
	display: none;
	background-color:#f1f2f1 ; 
	position:absolute; 
	width: 13%; 
	z-index: 1000;
}

nav > ul .list-nav:hover .rubriques-lab{
	display:block;
}

nav > ul .list-nav2:hover .rubriques-prog{
	display:block;
	margin-left: 15%;
}

nav > ul .list-nav3:hover .rubriques-comp{
	display:block;
	margin-left: 47%;
}


/* CSS pour la partie Slider */ 

.slider{
	height: 415px;
}

.slider-img{
	max-width: 100%;
	height: auto;	
}

.bloc-legende{
	position: relative; 
	opacity: 30% ; 
	background-color: white; 
	height: 66px;
	bottom: 168px;
}

.texte-slider{
	font-size: 10px; 
	color: white; 
	width: 833px; 
	text-align:center; 
	position: relative; 
	bottom: 222px;
	margin-left: 244px;
	transition: left 2s, transform 2s;
	left: 100%;
	transform: translateX(-155%);
	font-family: 'Nunito' , sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 10px;
}

.bouton-g{
	width: 60px; 
	height: 50px; 
	position: relative; 
	opacity: 30% ; 
	background-color: white;
	bottom:230px;
	margin-left: 35px; 
}

.bouton-d{
	width: 60px; 
	height: 50px; 
	position: relative; 
	opacity: 30% ; 
	background-color: white;
	bottom:320px;
	float:right; 
	margin-right: 35px;	
} 


.fleche-g{ 
	position: relative;  
	margin-left: 53px;
	bottom:283px;	
	color: white;
	font-family: 'Nunito' , sans-serif;	
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
}

.fleche-d{
	color: white; 
	position: relative;  
	float: right; 
	bottom:320px;
	margin-right: -43px;
	font-family: 'Nunito', sans-serif;	
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
}

/* CSS pour la partie Principale */ 

.affiche{
	margin-top: 43px;	
	height:420px;
}

.titre-affiche{
	text-align: center; 
	font-family: "Merriweather", serif; 
	font-style: bold;
	font-weight: 900; 
	font-size: 12px; 
}

.bloc-danseuse{
	margin-top: 35px;
	margin-left: 85px;
	display:inline-block;
	
}

.danseuse{
	width: 219px;
	height: 284px;
}

.btn-reservation{
	display: inline-block;
	margin-left: 293px;
	width: 153px;
	height: 38px;
	color: #a6e3b8;
	background-color: white;
	margin-bottom: 50px;
	border : 2px solid; 
	border-radius: 7px;
	border-color: #a6e3b8; 
	position: relative;
	bottom: 138px; 
	font-family: "Merriweather", serif; 
	font-style: normal; 
	font-weight: 700; 
	font-size: 13px; 
	
}

.btn-reservation:hover{
	color: white;
	background-color: #a6e3b8;
	text-shadow: 0px 1px 2px black; 
}

.texte-affiche{ 
	display: inline-block;
	margin-left: 45px;
	font-size: 9px;
	font-family: "Merriweather", serif; 
	font-style:italic; 
	font-weight: 700; 
	font-size: 9px; 
}

.texte1{
	width : 159px;
	position: relative; 
	bottom: 17px;
}

.texte2{
	width : 217px;
	margin-top:52px;
	position: relative; 
	bottom: 17px;
}

/* CSS pour la partie Rétrospective */ 

.retro{
	background-color : #f1f2f1;
	margin-top: 78px;
	height: 512px;
} 

.titre-retro{
	padding-top: 30px;
	margin-left: 45px; 
	font-family: 'Nunito', sans-serif; 
	font-style: italic; 
	font-weight: 600;
	font-size: 20px; 
	
}
.cadre{
	width: 295px; 
	height: 365px;
	background-color: black;
	display: inline-block;	
	margin-left: 153px;
	margin-bottom: 72px;
}

.cadre2{
	width: 295px; 
	height: 365px;
	background-color: black;
	display: inline-block;	
	margin-left: 48px;
	margin-bottom: 72px;
}

.peinture {
	width: 221px;
	height: 221px;
	margin-left:37px;
	margin-top: 29px;
	display: inline-block;	

}

.groupe{
	width: 221px;
	height: 221px;
	margin-left:37px;
	margin-top: 29px;

}

.danseur{
		width : 168px; 
		height: 237px;
		margin-left: 65px;
		margin-top: 12px;
	
}
.title-article, .texte-article{
	font-family: 'Merriweather', serif; 
	font-style: italic; 
	font-size: 9px; 
	color: white; 
}

.title-article{
	margin-top: 27px;
	text-align:center; 
	font-weight: 700;
}

.texte-article{  
	width: 210px; 
	margin-left: 53px;
	display:inline-block; 
}

.lien-article{
	color:#a6e3b8;
	font-size: 9px;
	text-decoration: none;
	display:inline-block;
}

.lien-article:hover{
	text-decoration: underline; 
	font-weight: bold;
}


/* CSS pour la partie Footer */
 
footer{
	background-color:#a6e3b8;
	height: 165px;
}  

.menu-footer, .coordonnees, .reseaux{
	font-family: 'Nunito', sans-serif; 
	font-style: italic; 
	font-weight: 900; 
	font-size: 17px; 
}

.menu-footer{
	display: inline-block;
	margin-left: -10px;
	margin-top: 8px;
}

.coordonnees{
	display:inline-block; 
	text-align:center;
	margin-left: 323px;
}

.lien-coordonnees, .lien-footer{
	text-decoration:none;
	color: black;
}

.lien-coordonnees:hover , .lien-footer:hover{
	text-decoration: underline;
}


.reseaux{
	display:inline-block; 
	line-height: 30px;
	font-size:20px;
	margin-left: 185px;
}

.logo-rs{
	height : 32px;
	width : 32px; 
	margin-left: 21px;
}